{% extends "base.html" %}
{% block content %}
    <div class="row">
    <form method="post" action="">{% csrf_token %}
        <input type="hidden" name="blog" id="id_blog" value="{{ request.user.blog.pk }}">
        <div class="form-group">
            <label for="id_title">Заголовок</label>
            <input type="text" class="form-control" id="id_title" name="title" placeholder="Заголовок">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Текст</label>
            <textarea class="form-control" rows="4" id="id_text" name="text" placeholder="Текст"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Добавить</button>
    </form>
    </div>
{% endblock content %}