{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-eqiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Devhub blogs</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{% static 'assets/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
    <script src="{% static 'assets/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Devhub blogs</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'blog_list' %}">Блоги</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'user_feed' %}">Моя лента</a></li>
                <li><a href="{% url 'add_post' %}">Добавить запись в блог</a></li>
                {% endif %}
          </ul>
        {% if not request.user.is_authenticated %}
          <form class="navbar-form navbar-right" method="post" action="{% url 'login' %}">{% csrf_token %}
            <div class="form-group">
              <input type="text" placeholder="Name" name="username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Войти</button>
          </form>
          {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}">Выйти({{ request.user.username }})</a></li>
          </ul>
          {% endif %}
        </div><!--/.navbar-collapse -->

      </div>
    </nav>

    <div class="container">

    {% block content %}
    {% endblock content %}

    </div><!-- /.container -->

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
