{% extends "base.html" %}
{% block content %}
    <div class="row">
    {% for blog in blog_list %}
        <div class="col-md-4">
            {% if blog.pk in request.user.profile %}
            {% endif %}
            <h4>Пользователь {{ blog.user.username }}</h4>
            <p>Записей: {{ blog.post_count }}</p>
            <p><a class="btn btn-default" href="{% url 'blog_view' blog.id %}" role="button">Перейти &raquo;</a></p>
        </div>
    {% endfor %}
    </div>
{% endblock content %}