{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h4 class="pull-left">Блог {{ object.user }}</h4>
        {% if request.user.is_authenticated %}
            {% if can_subscribe %}
                {% if is_subscribed %}
                   <h4 class="pull-right"><a href="{% url 'unsubscribe' %}?blog_id={{ object.pk }}">Отписаться от блога</a></h4>
                {% else %}
                    <h4 class="pull-right"><a href="{% url 'subscribe' %}?blog_id={{ object.pk }}">Подписаться на блог</a></h4>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    <div class="row">
    {% for post in object.posts.all %}
        <div class="col-md-3">
            <h6 class="pull-right">{{ post.date|date:"d.m.Y"  }}</h6>
            <h2>{{ post.title }}</h2>
            <p>{{ post.text|truncatechars:20 }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock content %}