{% extends "base.html" %}
{% block content %}
    <div class="row">
    {% for post in post_list %}
        <div class="col-md-4">
            <h6 class="pull-left">{{ post.blog.user.username }}</h6>
            <h6 class="pull-right">{{ post.date|date:"d.m.Y"  }}</h6>
            <h2>{{ post.title }}</h2>
            <p>{{ post.text|truncatechars:20 }}</p>
            <p><a class="btn btn-default" href="{% url 'post_view' post.id %}" role="button">Больше &raquo;</a></p>
        </div>
    {% endfor %}
    </div>
{% endblock content %}