{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h6 class="pull-right">{{ post.date|date:"d.m.Y H:s"  }}</h6>
        <h4><a href="{% url 'blog_view' post.blog.pk %}">Блог {{ post.blog.user }}</a></h4>
        {% if can_mark %}
            <h4><a href="{% url 'mark_read' %}?post_id={{ post.pk }}">Пометить прочитанным</a></h4>
        {% else %}
            <h4><a href="{% url 'mark_unread' %}?post_id={{ post.pk }}">Снять отметку прочтения</a></h4>
        {% endif %}

        <h2>{{ post.title }}</h2>
        <p>{{ post.text}}</p>
    </div>
{% endblock content %}